@import '~src/styles';

.search-box {
  &__input {
    width: 100%;
    height: 56px;
    padding: 15px;

    background-color: $secondary-color;
    border-radius: 5px;
    border: 2px $secondary-color solid;

    font-size: 16px;
    color: $text-secondary-color;

    transition: all $animation-duration ease;

    &::placeholder {
      color: $gray-color;

      transition: color $animation-duration ease;
    }

    &:focus {
      color: $text-main-color;
      background-color: $main-color;

      &::placeholder {
        color: $dark-gray-color;
      }
    }
  }
}
