@import '~src/styles';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  &__title {
    font-size: 38px;
    text-transform: uppercase;
  }
}


